.p12 p{
	margin-left: 400px;
	line-height: 30px;
	font-size: 20px;
}
.p12 h1{
	font-size: 50px;

	margin-left: 400px;
    margin-top: 160px;
	
}
.p12 h2{
color: #1ea69a;
}
.p12 h4{
	
	font-weight: 30px;
	font-size: 15px;
	margin-right: 200px;
	color: #5f5f5f;
}

.p12 li{
	margin-left: 400px;
	margin-top: 30px;
	font-weight: 20px;
}
.p12 img{
	width: 800px;
	margin-left: 390PX;
	margin-top: 40px;
	margin-right: 80px;
	margin-bottom: 30px;
}	
.p12 h3{
	margin-left: 400px;
    margin-top: 30px;
    font-size:

}
.p21{
	margin-left: 380px; 
	margin-top: 70px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	background-color:#fff2ed;
	color: #FF7F45;
	border:50px;
	margin-right:100px;
	border-color:#FF7F45;
	border-radius: 5px;

}
.p11 p{
	margin-left: 400px;
	line-height: 30px;
	font-size: 20px;
}
.p11 h1{
	font-size: 50px;

	margin-left: 400px;
    margin-top: 160px;
	
}
.p11 li{
	margin-left: 400px;
	margin-top: 20px;
	font-weight: 40px;
}
.p11 img{
	width: 800px;
	margin-left: 390PX;
	margin-top: 40px;
	margin-right: 80px;
	margin-bottom: 30px;
}	
.p11 h3{
	margin-left: 400px;
    margin-top: 30px;
    font-size:

  }
.p22{
	padding-bottom: 40px;
	padding-left: 30px;
	padding-top: 40px;
	padding-right:  20px;
	background-color: #f4fafa;
	margin-left: 700px;
	margin-right: 200px;
	

}